<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <button><a href="/register">Register</a></button><br><br>
        <button><a href="/login">Login</a></button>
    </body>
</html>