<!DOCTYPE html>
<html>
<head>
<title>Document</title>
</head>
<body>
    <form action="/login", method = "POST">
        <input type="text" name = "email" placeholder="email"><br><br>
        <input type="text" name="password" placeholder="password"><br><br>
        <input type="submit" name="login" id="submit" value = "submit">
    </form>
</body>
</html>