<html>
    <head>
        <title>Registration Page</title>
    </head>
    <body>
        <form action='/register' method = 'POST'>
            <input type="text" name = "fname" placeholder="firstname"><br><br>
            <input type="text" name = "lname" placeholder="lastname"><br><br>
            <input type="text" name = "email" placeholder="email"><br><br>
            <input type="text" name = "designation" placeholder="eg:student"><br><br>
            <input type="text" name = "password" placeholder="password"><br><br>
            <input type="text" name = "confirmpassword" placeholder="confirm password"><br><br>
            <input type="submit" name = "submit" value = "Submit">
        </form>
    </body>
</html>